@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    NURE<br />
    PI-15<br />
    <abbr title="Phone">P:</abbr>
    123-123-123
</address>

<address>
    <strong>Support:</strong> <a href="http://tss.co.ua/Judge/">Judge</a><br />
</address>
